@import '@/styles/variables.scss', '@/styles/mixins.scss' ;

.container{
	display: flex;
	margin: 20px 0;
}

.data{
	flex:2;
}

.state{
	@include flex($justify:flex-end,$align:center);
	flex:1;
}

.subheadline{
	font-size: 12px;
	padding-left: 10px;
}