@import '@/styles/variables.scss', '@/styles/mixins.scss' ;

.navbar{
	margin-bottom: $space-24;
	@include flex($justify:space-between);
	> div:first-child{
		
		@include flex($direction:row);
	}
}

.title_navbar{
	font-family: var(--font-monserratAlt);
	text-transform: capitalize;
	cursor: pointer;
	margin-right: 10px;
}