@import '@/styles/variables.scss', '@/styles/mixins.scss' ;

.sidebar{
	position: fixed;
	z-index: 1;
	top: 0;
	right: -100%;
	width: 100vw;
	height: 100vh;
	background-color: $color-green-90;
	transition: all 0.3s ease-in-out;
	padding: 35px 44px;
	overflow: hidden;

	@include flex($justify:space-between,$direction:column);

	&.active{
		right: 0;
	}
}
.bill1{
	position: absolute;
	bottom: 20px;
	right: -25px;
	width: 73px;
	height: 78px;
}
.bill2{
	position: absolute;
	bottom: -40px;
	left: -40px;
	width: 110px;
	height: 87px;
	transform: rotate(-45deg);
}
.bill3{
	position: absolute;
	top: 100px;
	right: -80px;
	width: 228px;
	height: 210px;
}
.bill4{
	position: absolute;
	bottom: 287px;
	left: 77px;
	width: 80px;
	height: 100px;
	z-index: 2;
}
.header{
	width: 100%;

	@include flex($align: flex-start, $justify: flex-start);
	
}

.logo_sidebar{
	width: 100px;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.pp{
	width: 124px;
	height: 124px;
	margin-bottom: 10px;
}

.title{
	font-size: 24px;
	font-family: var(--font-monserratAlt);
	font-weight: 900;
	color: $color-light;
}

.h2{
	color: $color-light;	
  	width: 100%;
	font-family: var(--font-monserratAlt);
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin: 10px 0;
}

.p{
	color: $color-light;	
  	width: 100%;
	font-family: var(--font-comfortaa);
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	margin: 10px auto 140px;
}

.social{
	display: flex;
	font-family: var(--font-monserratAlt);
	font-weight: 500;
	font-size: 12px;
	margin-top: 80px;
	gap: 10px;
}

.a{
	color: $color-dark;
	margin: 0 5px;
}

.version{
	color: $color-light;
	margin: 0 5px;
}
