@import './variables.scss', './mixins.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--color--background: #{$color-light};
	--color--text: #{$color-dark};	
}

html {
	font-size: 62.5%;
	font-size: $font-text-base;	
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color--background);
	color: var(--color--text);
}

#__next{
	height: 100%;
}

input {
	border-style: none;
	background: transparent;
	outline: none;
}
button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}
a {
	font-weight: 500;
	text-decoration: inherit;
}
li {
	list-style: none;
}

.p-style{
	font-weight: map-get($font-weight,"bold");
}

.height100{
	height: 100%;
}

/*Fonts Mobile*/

.h1{
	font-size: 30px;
	font-weight: 600;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 36px;
	}
}

.h2{
	font-size: 24px;
	font-weight: 600;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 30px;
	}
}

.h3{
	font-size: 20px;
	font-weight: 600;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 24px;
	}
}


.hl1{
	font-size: 24px;
	font-weight:900;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 30px;
	}
}

.hl2{
	font-size: 18px;
	font-weight:700;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 24px;
	}
}

.hl3{
	font-size: 16px;
	font-weight:700;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 18px;
	}
}

.t1{
	font-family: 12px;
	font-weight:700;
	font-family: var(--font-comfortaa);

	@include fromMin($x-large){
		font-size: 14px;
	}
}

.t2{
	font-family: 16px;
	font-weight: 600;
	font-family: var(--font-comfortaa);

	@include fromMin($x-large){
		font-size: 18px;
	}
}

.t3{
	font-size: 16px;
	font-weight:500;
	font-family: var(--font-monserratAlt);

	@include fromMin($x-large){
		font-size: 18px;
	}
}
