
/* Breakpoints */
$small: 380px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/*Font Size*/
$font-title-xl: 4rem;
$font-title-base: 3rem;
$font-title-sm: 2.4rem;
$font-text-2xl: 2rem;
$font-text-xl: 1.8rem;
$font-text-base: 1.6rem;
$font-text-sm: 1.4rem;
$font-text-mini: 1.2rem;

$font-weight:(
	"regular":400,
	"medium":500,
	"semibold":600,
	"bold":700
);

/* Border Radius*/
$rounded-sm: 0.125rem;
$rounded: 0.25rem;
$rounded-md: 0.375rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;
$rounded-4xl: 3rem;
$rounded-full: 50%;

/*box shadow*/
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 10px 25px 10px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

/* Z-index */
$z-back: -1;
$z-none: 0;
$z-floor: 1;
$z-medium: 10;
$z-up: 50;
$z-top: 100;
$z-super: 200;

/*Colors*/
$color-light-purple: #d288ff;
$color-purple: #aa20ff;

$color-green-30: #c4e95d;
$color-green-60: #48f58d;
$color-green-90: #11ba5f;

$color-light: #F8FFF8;
$color-gray-light: #e2ede6;
$color-gray: #aebeb4;
$color-dark: #0b160c;


/*Extra*/
$size-image-sm: 300px;
$size-image-base: 340px;

/*Spacing*/

$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-24: 24px;
$space-32: 32px;
$space-48: 48px;
$space-64: 64px;
