@import '@/styles/variables.scss', '@/styles/mixins.scss' ;

.wrapper{
	@include flex($direction:column,$justify:initial,$align:initial);
}

.savings{	
	margin: 20px 0;	
	@include flex($justify:center,$align:center);
	p{
		flex: 1;
		span{
			font-weight: bold;
		}
	}
	&_small_tag{
		
		background-color: $color-purple;
		text-align:right;
		line-height: 25px;
		height: 27px;		
		color: $color-light;
		border-radius: $rounded;
	}
}

.divider{
	border: none;
	border-top: 2px dashed $color-dark;
	width: 100%;
	margin: 15px 0;
}

.balance{
	margin-top: 30px;
}

.balance_amount{
	font-weight: 700;
}